table {
  margin: 2rem auto;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #ececec;
}

td {
  border: 1px solid #ececec;
  max-width: 35rem;
  padding: 0.6rem;
}

thead td {
  background-color: #fff;
}

thead td,
.mission_name {
  font-weight: bold;
  text-align: left;
}
