header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}

nav {
  display: flex;
  gap: 18px;
}

nav a {
  color: blue;
}

nav a:active {
  color: aqua;
}
